td{
    font-family: Arial, Helvetica, sans-serif;
}

ul li a span {
    font-size: 19px; 
    font-weight: 500; 
    color: hsl(0, 0%, 30%);
}

ul li a img {
    height: 31px; 
}

.credit{
    padding:2rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    color:#130F40FF;
}

.credit span{
    color:#0ABDE3FF;
}